<h1>Pirates</h1>
    <div class="pirate">
        <h3>Name: <%= @pirate.name %></h3><br>
        <h4>Weight: <%= @pirate.weight %>pounds</h4><br>
        <h5>Height: <%= @pirate.height %>inches</h5><br>
    </div><br>

<h1>Ships</h1>
    <% @ships.each do |ship| %>
    <div class = "ship">
        <h3>Name: <%= ship.name %></h3><br>
        <h4>Weight: <%= ship.type %></h4><br>
        <h5>Height: <%= ship.booty %></h5><br>
    </div><br>
    <% end %>


